.card-container {
  margin: 0 auto;
  display: flex;
  max-height: 310px;
  max-width: 776px;
  min-width: 776px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  div img {
    width: 309px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
    background: #fff;
  }
}

.card-content {
  padding: 20px;
  width: 100%;

  .card-header {
    h3 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 2.5rem;
      text-align: center;
    }

    p {
      max-width: 280px;
    }
  }

  .card-footer {
    margin-top: 3rem;

    p {
      margin-bottom: 1rem;
    }

    .price {
      font-weight: 600;
      font-size: 1.2rem;
    }

    .interaction-quantity {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      .interaction-price {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .quantity-btns {
      display: flex;
      gap: 0.5rem;

      input {
        max-width: 40px;
      }

      button {
        width: 28px;
        height: 28px;
        background-color: #f3f4f6;
        color: var(--bakery-font-color);
        border: 1px solid #000;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
          background-color: var(--bakery-primary);
          color: #fff;
        }
      }
    }

    .btn-cart {
      padding: 0.5rem 1.5rem;
      background-color: var(--bakery-secondary);
      color: var(--bakery-primary);
      font-weight: 600;
      border: none;
      border-radius: 8px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      -moz-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.miniCard-container {
  position: relative;
  background: #fff;
  max-width: 368px;
  width: 368px;
  min-height: 435px;
  max-height: 435px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .miniCard-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  img {
    width: 100%;
    height: 100%;
    max-height: 192px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 1rem;
    background: #fff;
  }

  .miniCard-header {
    h3 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 1rem;
      text-align: center;
    }

    p {
      margin: 0 auto;
      padding: 0rem 2rem;
      min-height: 36px;
    }
  }

  .miniCard-footer {
    margin-top: 1rem;

    p {
      margin-bottom: 0.5rem;
      padding: 0 2rem;
    }

    .interaction-quantity {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      padding: 0 2rem;

      .interaction-price {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .price {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }

    .quantity-btns {
      display: flex;
      gap: 0.5rem;

      input {
        max-width: 40px;
      }

      button {
        width: 28px;
        height: 28px;
        background-color: #f3f4f6;
        color: var(--bakery-font-color);
        border: 1px solid #000;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
          background-color: var(--bakery-primary);
          color: #fff;
        }
      }
    }

    .btn-cart {
      width: 100%;
      padding: 1rem 1.5rem;
      background-color: var(--bakery-secondary);
      color: var(--bakery-primary);
      font-weight: 600;
      border: none;
      border-radius: 0 0 8px 8px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      -moz-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
