.footer {
  background-color: var(--bakery-primary);
  color: var(--white);
  padding: 20px;
  text-align: center;

  .footer-content {
    padding: 3rem 0 2.5rem;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .footer-logo {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

.footer-links {
  display: flex;

  gap: 4.2rem;

  .menu {
    h4 {
      font-weight: 800;
      margin-bottom: 1rem;
    }

    li + li {
      margin-top: 1rem;
    }
  }
}
