body {
  position: relative;
}

#shopping-cart {
  padding: 0 2rem;
  h1 {
    text-align: center;
    font-weight: 500;

    margin-bottom: 5rem;
  }

  #btnEmpty {
    display: flex;
    width: fit-content;
    gap: 0.5rem;
    align-items: center;
    &:hover {
      color: red;
    }
  }
}

.empty-cart {
  text-align: center;
  min-height: 300px;

  #btnContinue {
    margin: 4rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
    padding: 1rem 1.5rem;
    background-color: var(--bakery-secondary);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    color: var(--bakery-font-color);
    border-radius: 4px;
    text-decoration: none;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.table-container {
  overflow-x: auto;
  margin: 2rem 0 5rem;
}
.tbl-cart {
  max-width: 500px;
  overflow-x: auto !important;
  border-collapse: collapse;
  img {
    width: 200px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    background: #d5d4d4;
  }
}

.cart-item {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  border-radius: 8px;
  row-gap: 1rem;
  td {
    padding: 0.5rem;
  }

  tbody {
    row-gap: 1rem;
  }
}

.delete-item {
  padding-top: 2rem;
  text-align: right;

  .btnRemoveAction {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;

    &:hover {
      color: red;
    }
  }
}

.cart-total {
  height: 4rem;
}
