#product-grid {
  width: fit-content;
  margin: 0 auto 3.5rem;

  .txt-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

.products-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  justify-content: center;
}

.product-item {
  margin: 0 auto;
}
